body {
    margin: 10%;
    padding: 0%;
    background: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-gap: 2em;
}

.card {
    width: 320px;
    overflow: hidden;
    background: #fff;
    font-family: "montserrat", sans-serif;
    -webkit-box-shadow: 10px 5px 10px #333;
    box-shadow: 10px 5px 10px #333;
}

.top-section {
    position: relative;
}

.top-section img {
    width: 100%;
}

.menu-icon {
    position: absolute;
    width: 22px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.menu-icon span {
    width: 100%;
    height: 3px;
    background: #000000;
    position: relative;
    display: block;
    margin-bottom: 5px;
    opacity: 0.6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.menu-icon .s1 {
    left: -5px;
}

.menu-icon .s2 {
    left: 5px;
}

.menu-icon:hover span {
    left: 0%;
}

img {
    background: #fff;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.menu-icon span {
    display: none;
}

.name {
    position: relative;
    font-size: 25px;
    /* font-weight: 900; */
    opacity: .5;
    font-family: tahoma, sans-serif;
    text-align: center;
}

.name span {
    text-transform: capitalize;
    font-weight: 600;
}

.info-section {
    padding: 30px;
    padding-top: 0;
    color: #333;
}

h2 {
    position: relative;
    font-size: 16px;
    color: #d33333;
}

i {
    color: #0d6eab;
    font-weight: 400;
}

.border {
    width: 30px;
    height: 3px;
    background: #2c3e50;
    position: absolute;
    left: 0;
    bottom: -6px;
}

p {
    text-align: justify;
    font-size: 20px;
}

.sm {
    text-align: center;
    margin-top: 20px;
}

.sm a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 0px 10px;
    -webkit-transition: .4s;
    transition: .4s;
}

.sm a:hover {
    color: #df2e16;
    font-size: 20.5px;
}

.sm a {
    display: none;
}

@media(min-width:700px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

}