/* Core Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    letter-spacing: .6px;
}

h1,
h2,
h3 {
    margin: 0;
    padding: .5em 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

p {
    margin: 0;
    padding: 1em 0;
}

a {
    text-decoration: none;
    transition: .3s;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    border-radius: 5em;
    margin: .5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}

.logo {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    box-shadow: 0 0 10px 5px #fff;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.logo img {
    height: 100%;
    width: 100%;
    transform: translateX(6px);
}

/* welcome to Techtronix */
.techtronix {
    position: fixed;
    top: 50px;
    left: 50px;
    animation: animate 2s infinite ease-in-out 1s;
}
.techtronix a {
    background: #ae22cc;
    border-radius: 50px;
    color: #ccc;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 20px;
}
@media(max-width: 600px){
    .techtronix{
        left: 10px;
        top: 10px;
    }
    .techtronix a{
        font-size: 12px;
        padding: 10px;
    }
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(.95);
    }
    90%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}
/* ------------------- */

/* Header Showcase */
#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url('https://images.pexels.com/photos/257736/pexels-photo-257736.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

#showcase h1 {
    padding-top: 180px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-1 .content-wrap {
    padding: 0 1.5em;
}


/* Section-1 */
#section-1 {
    background: #eaeaea;
    color: #555;
    padding-bottom: 2em;
}

#section-1 ul,
#section-2 ul:first-child {
    text-align: left;
    list-style-type: square;
}

/* Section-2 */
#setion-2 {
    min-height: 550px;
}

#section-2 .bg-image {
    position: absolute;
    background: #333 url('https://images.pexels.com/photos/270571/pexels-photo-270571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    z-index: -1;
    opacity: 0.2;
}

#section-2 .content-wrap {
    padding: 0 2em 2em 0;
}

#section-2 h3 {
    padding: 0;
    padding-left: 1.4em;
}

#section-2 ul:last-child li {
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 5px;
    list-style: none;
}

#section-2 ul:last-child li a {
    color: #eaeaea;
}

#section-2 ul:last-child li a:hover {
    color: rgb(17, 183, 238);
}


/* Section-3 */
#section-3 {
    padding: 2em 1em 1em;
}

#section-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#section-3 li {
    margin-bottom: 1em;
    background: #eaeaea;
    color: #333;
}

#section-3 a {
    color: #313aee;
}

#section-3 a:hover {
    color: red;
}

.card-content {
    padding: 0 .5em 1em .5em;
}

/* Section-4 */
#section-4 {
    background: #333;
    color: #555;
    padding: 2em;
}

/* Section-5 */
#section-5 .box {
    color: #eaeaea;
    min-height: 200px;
}

#section-5 .bg-image {
    position: absolute;
    background: #333 url('https://github.com/etcvssut/etcvssut.github.io/edit/master/img/contact-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    z-index: -1;
    opacity: 0.4;
}

#section-5 a i {
    font-size: 2em;
    text-shadow: 0 5px 10px rgba(5, 5, 5, .4);
    margin: 0.5em;
    transition: transform 300ms ease;
}

#section-5 a:hover i {
    transform: scale(1.1);
    text-shadow: 0 5px 15px 10px rgba(5, 5, 5, .2);
}

/* Footer */
#main-footer {
    padding: 0.5em 2em;
    background: #222;
    color: #eaeaee;
    text-align: center;
    font-size: 13px;
}

#main-footer .designer-redirect a {
    color: rgb(17, 183, 238);
}

#main-footer .designer-redirect a:hover {
    color: darksalmon
}

#main-footer .btn {
    padding: .5em 1em;
}

.fa-facebook-f {
    color: #0c27c1;
}

.fa-github {
    color: black;
}

.fa-twitter {
    color: #00aced;
}

.fa-at {
    color: #bb0000;
}

.fa-heart {
    color: red;
}

/* Media Query */
@media(min-width: 700px) {
    * {
        letter-spacing: 1.5px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;

    }

    #showcase {
        min-height: 700px;
    }

    #showcase .bg-image {
        height: 700px;
    }

    #showcase h1 {
        font-size: 5em;
        padding-top: 2em;
    }

    #showcase p {
        font-size: 2em;
    }

    #section-1 {
        height: 100%;
        position: relative;
        background: transparent;
        color: #eaeaea;
    }

    #section-1 .bg-image {
        position: absolute;
        background: url('https://images.pexels.com/photos/356043/pexels-photo-356043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.4;
    }

    h2 {
        grid-column: 2/4;
    }

    .content-wrap {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 4;
    }

    #section-3 ul {
        grid-column: span 4;
    }

    #setion-2 {
        min-height: 450px;
    }

    #section-2 .bg-image {
        height: 450px;
    }

}

@media(min-width: 1200px) {
    #section-3 ul {
        display: flex;
        justify-content: space-around;
    }

    #section-3 li {

        width: 31%;
        margin: 0 1em;
    }

    #section-3 li .card {
        background: #555;
        color: #eaeaea;
        height: 100%;
    }

    #section-3 a {
        color: #31eeea;
    }

    #section-5 .box {
        height: 400px;
    }

    #section-5 .bg-image {
        height: 400px;
    }

    .box-content {
        padding-top: 100px;
    }
}
